<!DOCTYPE html>
<html>
<head>
    <title>Page information for <%= standardName %></title>
    <link rel="stylesheet" href="/css/globalstyles.css">
</head>
<body>
    <div id="main-container">
        <%- include('partials/header') %>
        <div id="content-container">
            <%- include('partials/navbar') %>
            <div id="content">
                <h1>Information for page <%= standardName %></h1>
                <table>
                    <tr>
                        <td>Standard name</td>
                        <td><%= standardName %></td>
                    </tr>
                    <tr>
                        <td>Display title</td>
                        <td><%= displayTitle ?? '-' %></td>
                    </tr>
                    <tr>
                        <td>Last build</td>
                        <td><%- (buildTime != 0) ? new Date(buildTime) : '-' %></td>
                    </tr>
                    <tr>
                        <td>Primary</td>
                        <td><%= primary ?? false %></td>
                    </tr>
                    <tr>
                        <td>Show title</td>
                        <td><%= showTitle ?? false %></td>
                    </tr>
                    <tr>
                        <td>Sort order</td>
                        <td><%- sortOrder ?? '-' %></td>
                    </tr>
                    <tr>
                        <td>Dependencies</td>
                        <td>
                        <% if (dependencies.size === 0) { %>
                            <%- '-' %>
                        <% } else { %>
                            <% dependencies.forEach(e => { %>
                                <%- `${e}<br>` %>
                            <% }); %>
                        <%}%>
                        </td>
                    </tr>
                    <tr>
                        <td>Pages which depend on this page</td>
                        <td>
                        <% if (dependents.size === 0) { %>
                            <%- '-' %>
                        <% } else { %>
                            <% dependents.forEach(e => { %>
                                <%- `${e}<br>` %>
                            <% }); %>
                        <%}%>
                        </td>
                    </tr>
                    <tr>
                        <td>Errors</td>
                        <td>
                        <% if (errors.length === 0) { %>
                            <%- '-' %>
                        <% } else { %>
                            <% errors.forEach(e => { %>
                                <%- `${e.identifier}: ${e.message}<br>` %>
                            <% }); %>
                        <%}%>
                        </td>
                    </tr>
                </table>
                <p><a href="/special/purge/<%= standardName %>">Purge this page?</a></p>
                <hr>
                <span class=footer><a href="https://github.com/LMBishop/website">GitHub</a> | <a href="/<%= path %>">View original</a></span>
            </div>
        </div>
    </div>
</body>
</html>
